---
import { Button } from "../components/Button";
import { Global } from "../components/Global";
import { View } from "../components/View";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Astro description"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Portfolio</title>
		<Global />
	</head>
	<body>
		<main>
			<View
				display="flex"
				padding="medium"
				gap="small"
			>
				<Button client:load>Action</Button>
				<Button client:load>Action</Button>
				<Button client:load>Action</Button>
				<Button client:load>Action</Button>
			</View>
		</main>
	</body>
</html>
